In [1]:
# Standard libraries
import datetime as dt
import os

# Third-party libraries
import pandas as pd

# Local libraries
from utilities import climnorm

In [27]:

OUT_DIR = os.path.join(os.getcwd(), "data/processed/period")

In [34]:
standardPeriod = climnorm.standard()
historicPeriod = climnorm.historic()
periods = climnorm.all_periods()
start_times = [pd.to_datetime('1900-01-01').strftime('%Y%m')]
end_times = [pd.to_datetime('2000-12-31').strftime('%Y%m')]
names = ['1900–2000']
type = ['twentieth century']
id=['19002000']
for period in periods:
  start_times.append(period.start_time.strftime('%Y%m'))
  end_times.append(period.end_time.strftime('%Y%m'))
  names.append(period.start_time.strftime('%Y') + "–" + period.end_time.strftime('%Y'))
  id.append(period.start_time.strftime('%Y') + period.end_time.strftime('%Y'))
  if period.start_time == standardPeriod.start_time:
    type.append('standard')
  elif period.start_time == historicPeriod.start_time:
    type.append('historic')
  else:
    type.append('')
periods_df = pd.DataFrame({
  "id": id,
  "start_time_id": start_times,
  "end_time_id": end_times,
  "name": names,
  "type": type
})
periods_df

          id start_time_id end_time_id       name               type
0   19002000        190001      200012  1900–2000  twentieth century
1   19011930        190101      193012  1901–1930
2   19111940        191101      194012  1911–1940
3   19211950        192101      195012  1921–1950
4   19311960        193101      196012  1931–1960
5   19411970        194101      197012  1941–1970
6   19511980        195101      198012  1951–1980
7   19611990        196101      199012  1961–1990           historic
8   19712000        197101      200012  1971–2000
9   19812010        198101      201012  1981–2010
10  19912020        199101      202012  1991–2020           standard

In [35]:
os.makedirs(OUT_DIR, exist_ok=True)  
periods_df.to_csv(os.path.join(OUT_DIR, "period.csv"), index=False)