In [2]:
# Standard libraries
import datetime as dt
import os

# Third-party libraries
import pandas as pd

# Local libraries
from utilities import climnorm

In [3]:

OUT_DIR = os.path.join(os.getcwd(), "data/processed/period")

In [6]:
standardPeriod = climnorm.standard()
historicPeriod = climnorm.historic()
periods = climnorm.all_periods()
start_years = [pd.to_datetime('1900-01-01').strftime('%Y')]
end_years = [pd.to_datetime('2000-12-31').strftime('%Y')]
names = ['1900–2000']
type = ['twentieth century']
id=['19002000']
for period in periods:
  start_years.append(period.start_time.strftime('%Y'))
  end_years.append(period.end_time.strftime('%Y'))
  names.append(period.start_time.strftime('%Y') + "–" + period.end_time.strftime('%Y'))
  id.append(period.start_time.strftime('%Y') + period.end_time.strftime('%Y'))
  if period.start_time == standardPeriod.start_time:
    type.append('standard')
  elif period.start_time == historicPeriod.start_time:
    type.append('historic')
  else:
    type.append('')
periods_df = pd.DataFrame({
  "id": id,
  "year_start": start_years,
  "year_end": end_years,
  "name": names,
  "type": type
})
periods_df

          id year_start year_end       name               type
0   19002000       1900     2000  1900–2000  twentieth century
1   19011930       1901     1930  1901–1930
2   19111940       1911     1940  1911–1940
3   19211950       1921     1950  1921–1950
4   19311960       1931     1960  1931–1960
5   19411970       1941     1970  1941–1970
6   19511980       1951     1980  1951–1980
7   19611990       1961     1990  1961–1990           historic
8   19712000       1971     2000  1971–2000
9   19812010       1981     2010  1981–2010
10  19912020       1991     2020  1991–2020           standard

In [7]:
os.makedirs(OUT_DIR, exist_ok=True)  
periods_df.to_csv(os.path.join(OUT_DIR, "period.csv"), index=False)