In [20]:
# Standard libraries
import os

# Third-party libraries
import pandas as pd
import numpy as np
import xarray as xr

# Local libraries
from utilities import netcdf

In [2]:
# Paths
DATA_DIR = os.path.join(os.getcwd(), "data/intermediate/hadukgrid")
OUT_DIR = os.path.join(os.getcwd(), "data/processed/variable")

In [4]:
NC_FILES = netcdf.list_files(DATA_DIR, path=True)

In [39]:
startTimes = []
endTimes = []
for path in NC_FILES:
    da = xr.open_dataarray(path, decode_coords="all", chunks="auto")
    startTimes.append(da.coords["time"].min().values)
    endTimes.append(da.coords["time"].max().values)
    da.close()
firstTime = min(startTimes)
lastTime = max(endTimes)

numpy.datetime64('1836-01-16T00:00:00.000000000')

In [51]:
def get_season_month(row):
  year  = row[0].year
  month  = row[0].month
  if month == 12:
    return year + 1
  return year
  print(row[0].month)
df = pd.DataFrame({"date": pd.date_range(start=firstTime, end=lastTime, freq=pd.DateOffset(months=1), inclusive="both")})
df['monthNumber'] = df.apply(lambda row: row[0].month, axis=1)
df['seasonYear'] = df.apply(lambda row: get_season_month(row), axis=1)
df

           date  monthNumber  seasonYear
0    1836-01-16            1        1836
1    1836-02-16            2        1836
2    1836-03-16            3        1836
3    1836-04-16            4        1836
4    1836-05-16            5        1836
...         ...          ...         ...
2227 2021-08-16            8        2021
2228 2021-09-16            9        2021
2229 2021-10-16           10        2021
2230 2021-11-16           11        2021
2231 2021-12-16           12        2022

[2232 rows x 3 columns]